/* Formatação Geral*/

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  font-family: 'Ubuntu' sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #040714;
  --site-color: #fff;
  --active-color: rgba(134, 106, 211, 0.492);
  --first-color: #08132f;
  --second-color: #090b13;
  --third-color: #1b202a;
}

body {
  background-color: var(--main-color);
  color: var(--site-color);
  font-family: 'Ubuntu', sans-serif;
}

.max-width {
  max-width: 100%;
  padding: 0 10px;
  margin: 0;
}

/* Fim da Formatação Geral*/

/* Iniciando Formatação da NAV */

.navbar .logo a {
  color: var(--active-color);
  font-size: 35px;
  font-weight: 500;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: 'Ubuntu', 'sans-serif';
  background-color: var(--main-color);
  border-bottom: solid var(--third-color) 1px;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  display: block;
  color: var(--site-color);
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: var(--site-color);
  font-size: 25px;
  font-weight: 400;
  margin-left: 25px;
}

.menu-btn {
  color: var(--site-color);
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  #menu-icon.active::before {
    content: '\f00d';
    color: white;
  }

  .navbar .menu {
    background-color: var(--main-color);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3 ease;
  }

  #menu-site.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
    color: white;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
  }
}

/* Fim da formatação da Nav /* 

/* Formatação Geral de Sessões - checar funcionalidade */
section {
  padding: 50px 0;
}
@media (max-width: 690px) {
  section {
    padding: 15px 0;
  }
}
/* Fim da Fortamação Geral de Sessões */

/* Inicio da Formatação do Topo do Site */
.top {
  color: var(--site-color);
  display: flex;
  background: linear-gradient(
      to right,
      var(--main-color) 20%,
      rgba(226, 211, 152, 0)
    ),
    url('../img/lirio13.jpg'), no-repeat center;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu' 'sans-serif';
}
span {
  color: var(--site-color);
}

.top .max-width {
  width: 100%;
  display: flex;
}

.top .top-content .text-1 {
  font-size: 25px;
}

.top .top-content .text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
}

.top .top-content .text-3 {
  font-size: 32px;
  margin: 5px 0;
  font-weight: 200;
}

@media (max-width: 690px) {
  .top .top-content .text-1 {
    font-size: 16px;
  }
  .top .top-content .text-2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
  }
  .top .top-content .text-3 {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 200;
  }
}
.top .top-content #login {
  display: inline-block;
  background: var(--active-color);
  color: var(--site-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 25px;
  font-weight: 300;
  border-radius: 6px;
  border: solid 2px var(--active-color);
  transition: all 0.3s ease;
}

.top .top-content #login:hover {
  color: var(--active-color);
  background: none;
}
@media (max-width: 690px) {
  .top .top-content #login {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 20px;
    padding: 08px 25px;
    margin-top: 16px;
    font-weight: 300;
    border-radius: 6px;
    border: solid 2px var(--active-color);
    transition: all 0.3s ease;
  }
}

/* Fim da Formatação do Topo do Site */

/* Inicio da Formatação da Area de Serviços */

.services {
  font-family: 'Ubuntu' 'sans-serif';
  color: var(--site-color);
  background-color: var(--main-color);
  font-family: 'Poppins' sans-serif;
  margin: 60px;
}

.services .title {
  text-align: center;
  margin: 40px 0;
  font-weight: 400;
  font-size: 35px;
}
@media (max-width: 690px) {
  .services .title {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-size: 26px;
  }
}

.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.services .serv-content .card {
  width: calc(33% - 30px);
  background-color: var(--first-color);
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.liriobus {
  width: 750px;
  height: 850px;
}
.services .serv-content .card i {
  font-size: 50px;
  color: var(--active-color);
  transform: all 0.3s ease;
}
.services .serv-content .card:hover i {
  color: var(--site-color);
}

.services .serv-content .card .box1 {
  transition: all 0.5s ease;
}

.services .serv-content .card:hover .box1 {
  transform: scale(1.05);
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services .serv-content .card:hover {
  background: var(--active-color);
}

@media (max-width: 947px) {
  .services .serv-content .card {
    width: calc(50% - 30px);
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .services .serv-content .card {
    width: 120%;
    margin-left: -20px;
    margin-right: -20px;

    margin-bottom: 20px;
  }
}

/* Fim da Area de Serviços */

/* Container Raves */

/* Inicio do Premium */

.premium {
  color: var(--site-color);
  background: var(--first-color);
  font-family: 'Ubuntu', sans-serif;
}
.premium .title {
  text-align: center;
  margin: 50px 0;
  font-weight: 400;
  font-size: 35px;
}
@media (max-width: 690px) {
  .premium .title {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-size: 26px;
  }
}
.carousel-iner {
  width: 400px;
}

.carousel-inner > .carousel-item > img {
  width: 550px;
  height: 450px;
}

.premium #botao {
  display: inline-block;
  background: var(--active-color);
  color: var(--site-color);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--active-color);
  transition: all 0.3s ease;
  text-decoration: none;
}
.premium #botao:hover {
  color: var(--active-color);
  background: none;
}

@media (max-width: 947px) {
  main {
    margin-right: 08%;
    margin-left: 3%;
  }
  .premium #botao {
    font-size: 16px;
    padding: 6px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Fim do Premium /* 

/* Inicio do Rodapeé */

footer {
  background: var(--second-color);
  padding: 40px 23px;
  color: var(--site-color);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer span a {
  color: var(--active-color);
}

footer span a:hover {
  color: var(--site-color);
}

footer span i {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*FIm do Rodapé */

/* Pagina de Login */

.mainlogin {
  margin-top: 70px;
  margin-bottom: 20px;
}
.titulo-login {
  margin-bottom: 30px;
}
.botaologin {
  color: var(--site-color);
  background: var(--active-color);
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: wrap;
  border: 2px solid var(--active-color);
  transition: all 0.3s ease;
}
.botaologin:hover {
  color: var(--active-color);
  background: none;
}
